server {
    listen $NGINX_LISTEN_PORT;
    listen [::]:$NGINX_LISTEN_PORT;

    client_max_body_size $NGINX_MAX_UPLOAD;
    proxy_http_version 1.1;
    location / {
        include uwsgi_params;
        uwsgi_pass unix:///tmp/uwsgi.sock;
    }
}
